---
const { title, image } = Astro.props;
---

<div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
  <div class="flex-shrink-0">
    <a href={`/recipes/${title}`}>
      <img class="h-48 w-full object-cover bg-gray-100" src={image} alt="" />
    </a>
  </div>
  <div class="flex flex-1 flex-col justify-between bg-white p-6">
    <div class="flex-1">
      <p class="text-xl font-semibold text-gray-900">
        {title}
      </p>
    </div>
  </div>
</div>
